<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--通过指定context参数，让Spring使用GroovyWebApplicationContext而非
    XmlWebApplicationContext或AnnotationConfigWebApplicationContext启动容器 -->
    <!--<context-param>-->
        <!--<param-name>contextClass</param-name>-->
        <!--<param-value>-->
            <!--org.springframework.web.context.support.GroovyWebApplicationContext-->
        <!--</param-value>-->
    <!--</context-param>-->


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:com/fuyoufang/**/beans.xml</param-value>
    </context-param>


    <!--<servlet>-->
        <!--<servlet-name>log4jConfigServlet</servlet-name>-->
        <!--<servlet-class>org.springframework.web.util.</servlet-class>-->

    <!--</servlet>-->

    <!--<servlet>-->
        <!--<servlet-name>springContextLoaderServlet</servlet-name>-->
        <!--<servlet-class>org.springframework.web.context.</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->
    <!---->

</web-app>
